<% completeness = profile.completeness_percentage %>
<% progress_color =
    if completeness == 100
      "bg-green-500 text-green-100 border-green-500"
    elsif completeness < 50
      "bg-red-500 text-red-100 border-red-500"
    else
      "bg-primary text-primary-content border-primary"
    end %>

<div
  class="radial-progress border-4 <%= progress_color %>"
  style="--value:<%= completeness %>;"
  aria-valuenow="<%= completeness %>"
  role="progressbar">
  <%= completeness %>%
</div>
