<div id="new_message_form" class="bg-white border-t border-gray-300" data-controller="message">
  <%= form_with model: [conversation, message],
                data: { turbo_stream: true },
                html: { multipart: true },
                class: "p-4 flex flex-col md:flex-row md:items-center md:space-x-2 w-full" do |f| %>

    <!-- Text input -->
    <%= f.text_field :content,
        placeholder: "Type a message...",
        class: "flex-grow rounded-lg bg-gray-100 px-3 py-2 focus:outline-none focus:ring-2 focus:ring-blue-500 w-full mb-2 md:mb-0" %>

    <!-- Button, preview, loader -->
    <div class="flex flex-col md:flex-row md:items-center md:space-x-2 w-full md:w-auto">
      <div class="flex items-center space-x-2 mb-2 md:mb-0">
        <%= f.file_field :image, class: "hidden", id: "message_image_input",
            data: { message_target: "input" } %>

        <label for="message_image_input"
               class="ml-2 cursor-pointer bg-gray-200 px-3 py-2 rounded-lg hover:bg-gray-300 flex items-center justify-center">
          <i class="fa-solid fa-image"></i>
        </label>

        <%= f.submit "Send", class: "bg-blue-500 px-4 py-2 rounded-lg hover:bg-blue-600 text-white" , data: { message_target: "submitButton" } %>

        <div id="message_loader" class="hidden">
          <span class="loading loading-dots bg-blue-500 loading-md"></span>
        </div>
      </div>

      <!-- Preview container -->
      <div id="image_preview_container" class="flex justify-start md:justify-center">
        <img id="image_preview" class="max-h-20 rounded-lg hidden" data-message-target="preview" />
      </div>
    </div>

  <% end %>
</div>
