<h1>Confirm your account</h1>

<p>Hello <%= @user.email_address %>,</p>

<p>Click the link below to confirm your account:</p>

<p><%= link_to 'Confirm my account', @url %></p>

<p>If you did not sign up, please ignore this email.</p>
