<%= turbo_stream.replace "results" do %>
  <div id="results" class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-8">
    <%= render partial: "influencer_card", collection: @influencers, as: :influencer %>
  </div>
<% end %>
