<div class="cursor-pointer">
  <%= link_to chat_path, class: "flex items-center justify-center px-8 py-4 rounded-full font-bold text-lg text-white transition-transform transform hover:scale-105", style: "background: linear-gradient(135deg, #9333ea, #6d28d9);" do %>
    <%= image_tag "chat.png", alt: "Scroll Up", class: "h-5 w-5" %>
  <%end%>
</div>
