<div  class="cursor-pointer ">
  <%=link_to chat_path,class:"flex items-center justify-center hover:scale-110 transition-transform duration-200" do%>
    <%= image_tag "chat.png", alt: "Scroll Up", class: "h-10 w-10" %>
  <%end%>
</div>
