<div id="loader" data-loader-target="loader"
  class="hidden fixed inset-0 flex items-center justify-center bg-white/70 z-50">
  <div class="animate-spin rounded-full h-12 w-12 border-t-4 border-blue-500 border-solid"></div>
</div>