<div data-controller="scroll" class="cursor-pointer">
  <button data-action="click->scroll#scrollUp" class="cursor-pointer">
    <%= image_tag "up_icon2.png", alt: "Scroll Up", class: "h-10 w-10" %>
  </button>
</div>
