<div data-controller="scroll" class="cursor-pointer">
  <button data-action="click->scroll#scrollUp" class="flex items-center justify-center px-8 py-4 rounded-full font-bold text-lg text-white transition-transform transform hover:scale-105" style="background: linear-gradient(135deg, #9333ea, #6d28d9);">
    <%= image_tag "up_icon1.png", alt: "Scroll Up", class: "h-5 w-5" %>
  </button>
</div>
