<div data-controller="scroll" class="cursor-pointer">
  <button data-action="click->scroll#scrollUp" class="cursor-pointer hover:scale-110 transition-transform duration-200">
    <%= image_tag "up_icon1.png", alt: "Scroll Up", class: "h-10 w-10" %>
  </button>
</div>
