
        body {
            font-family: 'Inter', sans-serif;
            background-color: #f8f8f8;
            color: #1a202c;
            overflow-x: hidden;
        }

        .hero-bg {
             /* Create a similar background gradient and pattern effect */
           /* background-image: linear-gradient(to top right, #fefefe, #fcfcfc); */
            position: relative;
        }

        .rotated-box {
            position: absolute;
            width: 100px;
            height: 100px;
            background-color: #ff914d;
            border-radius: 12px;
            transform: rotate(-10deg);
        }